/**
 * KWF Style: kwf.css
 * This stylesheet contains style rules for KWF framework specific site 
 * elements, mostly things added by JavaScript or by framework.
 * 
 * @author Christoffer Lindahl <christoffer@kekos.se>
 * @date 2013-07-03
 * @version 1.0
 */

/* Info and error messages sent from application */

#kwf_messages_view
  {
  position: absolute;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30%;
  z-index: 999;
  margin: 0;
  opacity: 0.8;
  }

.kwf-error, .kwf-info
  {
  margin: 5px 0;
  padding: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  list-style: none;
  }

.kwf-error
  {
  background: #ffac8f;
  }

.kwf-info
  {
  background: #ffeb8f;
  }

/* Form errors */

.kwf-form-error
  {
  display: block;
  padding: 5px;
  background: #ffac8f;
  line-height: 1;
  font-weight: normal;
  }

/* Framework/PHP runtime error messages */

.kwf-runerror-title, .kwf-runerror-description, .kwf-runerror-stacktrace
  {
  margin: 2%;
  }

.kwf-runerror-description
  {
  padding-left: 60px;
  background: url('../images/kwf-runerror.png') no-repeat;
  }

/* Generic classes for hiding content */

.hide
  {
  display: none;
  }

.show
  {
  display: block;
  }

/* Boxing */

#boxing-overlayer
  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #93aebc;
  filter: alpha(opacity=60);
  opacity: 0.6;
  z-index: 100;
  }

#close_boxing
  {
  position: fixed;
  margin: 0;
  width: 16px;
  height: 16px;
  z-index: 999;
  background: url('../images/close-boxing.png') no-repeat;
  text-indent: -9999px;
  }

#boxing-window
  {
  overflow: auto;
  }

/* KWF Dialog */

.kwf-dialog
  {
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  background: #fff;
  border: 1px solid #d8d8d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 #e0e0e0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }

.show.kwf-dialog
  {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  }

.kwf-dialog-bar
  {
  position: relative;
  margin: 2px;
  height: 30px;
  overflow: hidden;
  background: #e0e0e0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.kwf-dialog-title
  {
  display: block;
  margin: 8px;
  font-size: 0.9em;
  font-weight: bold;
  }

.kwf-dialog-close
  {
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('../images/close-boxing.png') no-repeat;
  text-indent: -9999px;
  }

.kwf-dialog-content
  {
  position: absolute;
  top: 32px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  overflow: auto;
  }