/**
 * KWF Style: kwf_global.css
 * 
 * @author Christoffer Lindahl <christoffer@kekos.se>
 * @date 2013-03-31
 * @version 4.0
 */

/* Reset */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, a, b, abbr, address, cite, 
code, del, dfn, em, i, img, ins, q, samp, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
  {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  }

body
  {
  line-height: 1;
  color: black;
  background: white;
  }

table
  {
  border-collapse: collapse;
  border-spacing: 0;
  }

caption, th, td
  {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  {
  display: block;
  }

ul, ol { list-style: none; }

blockquote, q
  {
  quotes: none;
  }

blockquote:before, blockquote:after, q:before, q:after
  {
  content: '';
  content: none;
  }

/* Fonts */

td, th, dt, dd, li
  {
  font-size: 0.7em;
  }

/* Text */

h1, h2, h3, legend
  {
  margin: 1%;
  font-weight: bold;
  }

h1 { font-size: 1.6em; }
h2, legend { font-size: 1em; }
h3 { font-size: 0.8em; }

p
  {
  margin: 1%;
  font-size: 0.7em;
  line-height: 1.5;
  }

blockquote { margin-left: 2%; }
strong { font-weight: bold; }
em { font-style: italic; }

code
  {
  padding: 2px;
  background: #3f447f;
  font-family: 'Courier New', monospace;
  color: #7f89ff;
  }

dl { margin: 1%; }
dt.clear { float: none; }

dd, dt
  {
  float: left;
  padding: 2px 0;
  width: 50%;
  }

dt
  {
  clear: both;
  font-weight: bold;
  }

.inline-list li
  {
  display: block;
  float: left;
  width: 20%;
  }

#kwf_messages_view
  {
  position: absolute;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30%;
  z-index: 999;
  margin: 0;
  opacity: 0.8;
  }

.kwf-error, .kwf-info
  {
  margin: 5px 0;
  padding: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.kwf-error { background: #ffac8f; }
.kwf-info { background: #ffeb8f; }

.hide { display: none; }
.show { display: block; }

/* Floating & Panels */

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.left-section, .half-section, .third-section, .two-thirds-section
  {
  float: left;
  margin: 0 0.5%;
  }

.half-section { width: 48%; }
.third-section { width: 32%; }
.two-thirds-section { width: 65%; }

/* Tables */

table
  {
  margin: 1%;
  width: 98%;
  }

/* Links */

a
  {
  color: #00f;
  font-size: 1em;
  }

a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

/* Forms */

form fieldset legend { margin: 0; padding: 0 1%; }

input, button, select, textarea
  {
  padding: 1px;
  font-size: 1em;
  color: #000;
  vertical-align: top;
  }

.longtext { width: 50%; }

button
  {
  padding: 5px;
  line-height: 1;
  font-weight: bold;
  }

select { padding: 0; }

form ol
  {
  margin: 1%;
  }

form ol li
  {
  margin: 0;
  padding: 4px 0;
  font-size: 0.7em;
  }

form label
  {
  display: inline-block;
  width: 40%;
  line-height: 2;
  font-weight: bold;
  vertical-align: top;
  }

form .description
  {
  display: inline-block;
  width: 30%;
  }

.form-error
  {
  display: block;
  padding: 5px;
  background: #ffac8f;
  line-height: 1;
  font-weight: normal;
  }

/* Boxing */

#boxing-overlayer
  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #93aebc;
  filter: alpha(opacity=60);
  opacity: 0.6;
  z-index: 100;
  text-align: center;
  }

#close_boxing
  {
  position: fixed;
  margin: 0;
  width: 16px;
  height: 16px;
  z-index: 102;
  background: url('../images/close-boxing.png') no-repeat;
  text-indent: -9999px;
  }

#boxing-window
  {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  border: 1px solid #93aebc;
  z-index: 101;
  overflow: auto;
  text-align: left;
  }